doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  - var bodyClasses = [];
  block vars

  body(class=bodyClasses)
    img.logo(src="/images/logo.png")
    h1= title
    block content
